<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kast_Ajansı_SON_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Kast_Ajansı_SON_.Properties.Settings.Kast_AjansıConnectionString"
            connectionString="Data Source=LAPTOP-TLB8Q2AL;Initial Catalog=&quot;Kast Ajansı&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Kast_Ajansı_SON_.Properties.Settings>
            <setting name="kuladi" serializeAs="String">
                <value />
            </setting>
            <setting name="şifre" serializeAs="String">
                <value />
            </setting>
            <setting name="settings" serializeAs="String">
                <value />
            </setting>
        </Kast_Ajansı_SON_.Properties.Settings>
    </userSettings>
</configuration>